<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/responseHandler.js"></script>
</head>
<body>
<div id="question-container">
    <form>
        <p><i style="color: aqua" th:each="question : ${questions}" th:text="${question.getQuestion()}"></i></p>
            <p>
                <label for="firstAnswer">
                    <input type="radio" id="firstAnswer" name="answer" th:each="answer : ${questions}"
                    th:value="${answer.getFirstAnswer()}">
                    <i style="color: aqua" th:each="answer : ${questions}" th:text="${answer.getFirstAnswer()}"></i>
                </label>
            </p>
            <p>
                <label for="secondAnswer">
                    <input type="radio" id="secondAnswer" name="answer" th:each="answer : ${questions}"
                           th:value="${answer.getSecondAnswer()}">
                    <i style="color: aqua" th:each="answer : ${questions}" th:text="${answer.getSecondAnswer()}"></i>
                </label>
            </p>
            <p>
                <label for="thirdAnswer">
                    <input type="radio" id="thirdAnswer" name="answer"th:each="answer : ${questions}"
                           th:value="${answer.getThirdAnswer()}">
                    <i style="color: aqua" th:each="answer : ${questions}" th:text="${answer.getThirdAnswer()}"></i>
                </label>
            </p>
            <p>
                <label for="fourthAnswer">
                    <input type="radio" id="fourthAnswer" name="answer"th:each="answer : ${questions}"
                           th:value="${answer.getFourthAnswer()}">
                    <i style="color: aqua" th:each="answer : ${questions}" th:text="${answer.getFourthAnswer()}"></i>
                </label>
            </p>
        <button type="submit" id="nextQuestion">next</button>
    </form>
</div>
</body>
</html>